services:
  mock_api:
    image: kennethreitz/httpbin
    container_name: s002_mock_api
    ports:
      - "8080:80"
    networks:
      - s002_network

  # Client service that should connect to mock_api
  api_client:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        API_ENDPOINT_URL: ${API_ENDPOINT_URL}
    container_name: s002_api_client
    command: ["sh", "-c", "python app.py || true; sleep infinity"]
    depends_on:
      - mock_api
    networks:
      - s002_network

networks:
  s002_network:
    driver: bridge
